:root {
  --primary-color: #0081C6;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  overflow: hidden;
  background: var(--primary-color);
  background-color: var(--primary-color);
}

.navbar {
  background: var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
}
